{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Vulntech{% endblock %}</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-DyZ88mC6Up2uqS4h/kekS+YoCky/1rxCZTQeuZ9FOGoTDFxzdf9Pp2e7p4rNYeqF" crossorigin="anonymous">

</head>
<body id="convideo" style="background-color: #2f263a;color: #ffffff;">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="{% url 'course_list' %}">
            <img src="{% static 'images/image.png' %}" alt="Vulntech Logo" class="logo">
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>

    <script> document.addEventListener('contextmenu', function(e) {
        e.preventDefault();
    }, false);</script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
